@font-face {
    font-family: "Roboto"; /* Name for referencing the font */
    src: url("fonts/Roboto-Medium.ttf") 
  }


body{
    background-color: hsl(0, 0%, 0%);
    font-family: 'Roboto';

    section{
        min-height: 100vh;
    }

    header{
        background-color: rgba(0, 0, 0, 0.218);
        position: sticky;
        height: 2rem;
    }

    .main{
        margin-top: 1rem;
        background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url('images/matrixbg2.jpg');
        background-position: fixed;
        background-size: cover;
    }
}

.navbar{
    height: 1rem;
}